proxmox_api_url          = "https://192.168.1.100:8006/api2/json"
proxmox_api_token_id     = "terraform@pam!terraform"
proxmox_api_token_secret = "your-token-secret"
proxmox_node             = "pve"
template_name            = "ubuntu-cloud-template"
storage_pool             = "local-lvm"
elk_ip                   = "192.168.1.50"
support_ip               = "192.168.1.51"
gateway                  = "192.168.1.1"
dns_server               = "1.1.1.1"
vm_user                  = "ubuntu"
ssh_public_key           = "ssh-rsa AAAA... your-key"
ssh_private_key_path     = "~/.ssh/id_rsa"